<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <!-- Bootstrap Core CSS -->
    <link href="/Content/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="/Scripts/adminTheme/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- DataTables CSS -->
    <link href="/Scripts/adminTheme/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
    <!-- DataTables Responsive CSS -->
    <link href="/Scripts/adminTheme/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/Scripts/adminTheme/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="/Scripts/adminTheme/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/Scripts/adminTheme/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    @Scripts.Render("~/bundles/app")


</head>
<body>
  <img id="logo" src="~/Content/Customer/images/Logo_main.png" style="margin-bottom: -90px; margin-left: 40%;" class="logo img-responsive">

    <div class="container">

        @RenderBody()
    </div>

    <!-- jQuery -->
    <!-- Bootstrap Core JavaScript -->
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/Scripts/adminTheme/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/Scripts/adminTheme/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/Scripts/adminTheme/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/Scripts/adminTheme/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/Scripts/adminTheme/raphael/raphael.min.js"></script>
    <script src="/Scripts/adminTheme/morrisjs/morris.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/Scripts/adminTheme/sb-admin-2.js"></script>


    @RenderSection("scripts", required: false)
</body>
</html>