@*<!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>@ViewBag.Title - My ASP.NET Application test</title>
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")

        <!-- Bootstrap Core CSS -->
        <link href="/Content/bootstrap.min.css" rel="stylesheet">
        <!-- MetisMenu CSS -->
        <link href="/Scripts/adminTheme/metisMenu/metisMenu.min.css" rel="stylesheet">

        <!-- DataTables CSS -->
        <link href="/Scripts/adminTheme/datatables-plugins/dataTables.bootstrap.css" rel="stylesheet">
        <!-- DataTables Responsive CSS -->
        <link href="/Scripts/adminTheme/datatables-responsive/dataTables.responsive.css" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="/Scripts/adminTheme/sb-admin-2.css" rel="stylesheet">
        <!-- Morris Charts CSS -->
        <link href="/Scripts/adminTheme/morrisjs/morris.css" rel="stylesheet">
        <!-- Custom Fonts -->
        <link href="/Scripts/adminTheme/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
        @Scripts.Render("~/bundles/app")


    </head>
    <body>
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/Customer/Dashboard/Index">Customer Panel</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">


                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-bell fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-alerts">
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-comment fa-fw"></i> New Comment
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-twitter fa-fw"></i> 3 New Followers
                                    <span class="pull-right text-muted small">12 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-envelope fa-fw"></i> Message Sent
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-tasks fa-fw"></i> New Task
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="#">
                                <div>
                                    <i class="fa fa-upload fa-fw"></i> Server Rebooted
                                    <span class="pull-right text-muted small">4 minutes ago</span>
                                </div>
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a class="text-center" href="#">
                                <strong>See All Alerts</strong>
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </li>
                    </ul>
                    <!-- /.dropdown-alerts -->
                </li>
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="#"><i class="fa fa-user fa-fw"></i> User Profile</a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-gear fa-fw"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="login.html"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu">
                        <li class="sidebar-search">
                            <div class="input-group custom-search-form">
                                <input type="text" class="form-control" placeholder="Search...">
                                <span class="input-group-btn">
                                        <button class="btn btn-default" type="button">
                                            <i class="fa fa-search"></i>
                                        </button>
                                    </span>
                            </div>
                            <!-- /input-group -->
                        </li>
                        <li>
                            <a href="/Customer/Dashboard/Index"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>



                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <div id="page-wrapper">

            @RenderBody()








        </div>
        <!-- /#page-wrapper -->
    </div>

    <!-- jQuery -->
    <!-- Bootstrap Core JavaScript -->
    <!-- Metis Menu Plugin JavaScript -->
    <script src="/Scripts/adminTheme/metisMenu/metisMenu.min.js"></script>

    <!-- DataTables JavaScript -->
    <script src="/Scripts/adminTheme/datatables/js/jquery.dataTables.min.js"></script>
    <script src="/Scripts/adminTheme/datatables-plugins/dataTables.bootstrap.min.js"></script>
    <script src="/Scripts/adminTheme/datatables-responsive/dataTables.responsive.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="/Scripts/adminTheme/raphael/raphael.min.js"></script>
    <script src="/Scripts/adminTheme/morrisjs/morris.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="/Scripts/adminTheme/sb-admin-2.js"></script>

    @RenderSection("scripts", required: false)
    </body>
    </html>*@



<!DOCTYPE html>
<html lang="@CafeteriaApp.Web.Helpers.CultureHelper.GetCurrentNeutralCulture()" dir="@(CafeteriaApp.Web.Helpers.CultureHelper.IsRighToLeft() ? "rtl" : "ltr")">
<head>
    <title>Menu</title>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no" />
    <link rel="icon" href="/Scripts/CustomerTheme/images/favicon.ico">
    <link rel="shortcut icon" href="/Scripts/CustomerTheme/images/favicon.ico" />
    <link rel="stylesheet" href="/Content/Customer/stuck.css">
    <link rel="stylesheet" href="/Content/Customer/style.css">
    <link rel="stylesheet" href="/Content/Customer/touchTouch.css">
    <!--<link rel="stylesheet" href="~/Content/css/bootstrap-rtl.css" />-->
    <script src="/Scripts/jquery-1.10.2.js"></script>
    @*<script src="js/jquery-migrate-1.1.1.js"></script>*@
    <script src="/Scripts/CustomerTheme/script.js"></script>
    <script src="/Scripts/CustomerTheme/superfish.js"></script>
    <script src="/Scripts/CustomerTheme/jquery.equalheights.js"></script>
    <script src="/Scripts/CustomerTheme/jquery.mobilemenu.js"></script>
    <script src="/Scripts/CustomerTheme/jquery.easing.1.3.js"></script>
    <script src="/Scripts/CustomerTheme/tmStickUp.js"></script>
    <script src="/Scripts/CustomerTheme/jquery.ui.totop.js"></script>
    <script src="/Scripts/CustomerTheme/touchTouch.jquery.js"></script>
    <script src="~/Scripts/bootstrap-rtl.js"></script>

    <script>
 $(document).ready(function(){

  $().UItoTop({ easingType: 'easeOutQuart' });
  $('#stuck_container').tmStickUp({});
  $('.gallery .gall_item').touchTouch();

  });
    </script>
    <!--[if lt IE 9]>
     <div style=' clear: both; text-align:center; position: relative;'>
       <a href="http://windows.microsoft.com/en-US/internet-explorer/products/ie/home?ocid=ie6_countdown_bannercode">
         <img src="http://storage.ie6countdown.com/assets/100/images/banners/warning_bar_0000_us.jpg" border="0" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today." />
       </a>
    </div>
    <script src="js/html5shiv.js"></script>
    <link rel="stylesheet" media="screen" href="css/ie.css">


    <![endif]-->

    @Scripts.Render("~/bundles/app")


</head>

<body>

    <!--==============================
                  header
    =================================-->
    <header>
        <!--==============================
                    Stuck menu
        =================================-->
        <section id="stuck_container">
            <div class="container">
                <div class="row">
                    <div class="grid_12">
                        <h1>
                            <a href="index.html">
                                <img src="/Scripts/CustomerTheme/images/logo.png" alt="Logo alt">
                            </a>
                        </h1>
                        <div class="navigation ">
                            <nav>
                                <ul class="sf-menu">
                                    @*<li data-bind="foreach:cafeterias">
                                       
                                        <a style="margin-top:20px" data-bind="attr:{href:'/Customer/Cafeteria/show/'+Id}" class="btn"><div data-bind="text:Name"></div></a>

                                    </li>*@
                                    <li><a data-bind="attr:{href:'/Home/Index/'}">@Resources.home</a></li>
                                    <li class="current"><a href="index-1.html">@Resources.menu</a></li>
                                    <li><a href="index-2.html">@Resources.reservation</a></li>
                                    <li><a href="index-3.html">@Resources.blog</a></li>
                                    <li><a href="index-4.html">@Resources.contacts</a></li>
                                    <li><a href="~/Customer/Profile/Index">profile</a></li>
                                </ul>
                            </nav>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </header>
    




    <!--=====================
              Content
    ======================-->
    <section class="content gallery pad1">
        <div class="ic">More Website Templates  TemplateMonster.com - July 30, 2014!</div>
        <div class="container">
            <div class="row">
                @RenderBody()
               
            </div>
        </div>
    </section>
    <!--==============================
                  footer
    =================================-->
@*<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <div class="socials">
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-google-plus"></a>
                    <a href="#" class="fa fa-pinterest"></a>
                </div>
                <div class="copyright">
                    <span class="brand">Bliss </span> &copy; <span id="copyright-year"></span> | <a href="#">Privacy Policy</a>
                    <div>Website designed by <a href="http://www.templatemonster.com/" rel="nofollow">TemplateMonster.com</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>*@
    @Scripts.Render("~/bundles/bootstrap" + (CafeteriaApp.Web.Helpers.CultureHelper.IsRighToLeft() ? "-rtl" : ""))
    @RenderSection("scripts", required: false)
</body>
</html>
<script src="~/Scripts/bootstrap-rtl.js"></script>
